.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  opacity: 50%;
  text-decoration: line-through;
}

.currentFilter {
  background-color: lightgray;
  border: 1px solid black;
}

.inputError {
  background-color: lightpink;
  border-color: lightpink;
}
